<div style="text-align:center" class="form-group">
  <div class="caixa-form">
    <br>
    <br>
    <h1><label>Temperatura: {{dados.temperatura}} °C</label></h1><br>
    <h1><label>Umidade: {{dados.umidade}} %</label></h1><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm" lead>
          <input [(ngModel)]="textoDisplay" placeholder='Escreva o texto para o Display' class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="buttons">
              <input type="button" class="button" (click)="enviar( )" value="Enviar Texto" >
          </div>
        </div>
      </div>
      <hr class="my-4">
      <div class="row">
        <div class="col-sm">
          <label><h4>LED 1</h4></label><br>
          <div class="switch">
            <input type="radio" [(ngModel)]="informacoes.led1" class="switch-input" name="view1" id="week1" value="1" (change)="onOffLed( )">
            <label for="week1" class="switch-label switch-label-off">ON</label>
            <input type="radio" [(ngModel)]="informacoes.led1" class="switch-input" name="view1" id="month1" value="0" (change)="onOffLed( )">
            <label for="month1" class="switch-label switch-label-on">OFF</label>
            <span class="switch-selection"></span>
          </div>
        </div>
        <div class="col-sm">
          <label><h4>LED 2</h4></label><br>
          <div class="switch">
            <input type="radio" [(ngModel)]="informacoes.led2" class="switch-input" name="view2" id="week2" value="1" (change)="onOffLed( )">
            <label for="week2" class="switch-label switch-label-off">ON</label>
            <input type="radio" [(ngModel)]="informacoes.led2" class="switch-input" name="view2" id="month2" value="0" (change)="onOffLed( )">
            <label for="month2" class="switch-label switch-label-on">OFF</label>
            <span class="switch-selection"></span>
          </div>
        </div>
        <div class="col-sm">
          <label><h4>LED 3</h4></label><br>
          <div class="switch">
            <input type="radio" [(ngModel)]="informacoes.led3" class="switch-input" name="view3" id="week3" value="1" (change)="onOffLed( )">
            <label for="week3" class="switch-label switch-label-off">ON</label>
            <input type="radio" [(ngModel)]="informacoes.led3" class="switch-input" name="view3" id="month3" value="0" (change)="onOffLed( )">
            <label for="month3" class="switch-label switch-label-on">OFF</label>
            <span class="switch-selection"></span>
          </div>
        </div>
        <div class="col-sm">
          <label><h4>LED 4</h4></label><br>
          <div class="switch">
            <input type="radio" [(ngModel)]="informacoes.led4" class="switch-input" name="view4" id="week4" value="1" (change)="onOffLed( )">
            <label for="week4" class="switch-label switch-label-off">ON</label>
            <input type="radio" [(ngModel)]="informacoes.led4" class="switch-input" name="view4" id="month4" value="0" (change)="onOffLed( )">
            <label for="month4" class="switch-label switch-label-on">OFF</label>
            <span class="switch-selection"></span>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  
</div>